@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* Header CSS */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  height: 52px;
  z-index: 999;
  padding-left: 6vw;
  padding-right: 6vw;
}

body {
  background-color: #f3f2ef !important;
}
#main {
  /* background-color: white; */
  min-height: 100vh;
  padding: 0;
  margin-top: 1em;
  border-radius: 20px 20px 0 0;
}
#ava {
  width: 8em;
  border-radius: 50%;
  position: absolute;
  bottom: -3em;
  left: 2em;
  border: 5px solid white;
}
#cover {
  position: relative;
  width: 100%;
  height: 20em;
  border-radius: 20px 20px 0 0;
}
#userName {
  padding-top: 5em;
}
#images {
  position: relative;
  background-color: white;
}
.companies img {
  width: 60px;
  margin-right: 1em;
}
.companies {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

#companiesCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#userbuttons button {
  margin-right: 0.8em;
  font-weight: 600;
  border-radius: 20px;
}
#userbutton1 {
  background-color: #004182;
  border-color: #004182;
}
#userbutton2 {
  background-color: transparent;
  border-color: #004182;
  color: #004182;
}
#userbutton3 {
  background-color: transparent;
  border-color: #928f8b;
  color: #928f8b;
}
.iconquestionmark {
  padding: 0;
}
.hr {
  background-color: #928f8b;
  margin-right: 1.5em;
}
.rightpart {
  color: #928f8b;
}
.otherUsers {
  display: flex;
  flex-direction: column;
}
.otherUsersPic img {
  width: 50px;
  border-radius: 50%;
}
.otherUsersDesc p {
  padding: 0;
  margin: 0;
  padding-left: 0.6em;
}
.othersCol {
  color: black;
  margin-top: 2em;
}
.bgWhite {
  background-color: white;
}
#mainrow {
  margin: 0;
  border-radius: 0 0 10px 10px;
}
.editbutton {
  position: absolute;
  right: 2em;
  top: 1.5em;
  background-color: #f3f2ef;
  padding-block: 0.6em;
  padding-inline: 0.8em;
  border-radius: 50%;
  color: #004182;
  cursor: pointer;
}
#required {
  font-size: 0.7em;
  color: #928f8b;
}
.otherUserData {
  display: flex;
  margin-bottom: 1em;
}

.header__left {
  display: flex;
  padding-top: 5px;
}

.header__right {
  display: flex;
  padding-top: 5px;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  color: #5f6163;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

/* Header Option CSS */
.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #5f6163;
  cursor: pointer;
  object-fit: contain;
  height: 52px;
  width: 80px;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
}

.headerOption__avatar {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption__divider {
  margin-top: -5px !important;
  height: 52px !important;
}

.headerOption__premium {
  width: 100px;
  text-align: center;
  font-size: small;
  color: rgb(158, 117, 12);
  text-decoration: underline;
}

.headerOption__premium:hover {
  color: rgb(95, 71, 10);
}

.headerOption:hover {
  color: black;
}
